 <div class="container">
  <div ng-if="$ctrl.alert.show" class="alert {{$ctrl.alert.type}}" role="alert">
    {{ $ctrl.alert.message }}
  </div>
  <div class="row tittle">
    <div class="col-md-12">
      <h1>Amigo Secreto</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pessoa-list pessoas="$ctrl.pessoas" selecionado="$ctrl.abrirPessoaForm($event.pessoa)" pessoa-removida="$ctrl.remover($event.id)"></pessoa-list>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pessoa-form ng-if="$ctrl.cadastrando" pessoa="$ctrl.pessoa" cancelada="$ctrl.cadastrando = false" salva="$ctrl.salvarPessoa($event.pessoa)"></pessoa-form>
    </div>
  </div>
  <button ng-if="!$ctrl.cadastrando" class="btn btn-success btn-block" ng-click="$ctrl.abrirPessoaForm()">
      Cadastrar Nova Pessoa
  </button>
  <button ng-disabled="$ctrl.pessoas.length < 4" class="btn btn-primary btn-block" ng-click="$ctrl.sortear()">
      {{$ctrl.pessoas.length > 3 ? 'Sortear' : 'Adicione um mínimo de 4 pessoas para o sorteio'}}
  </button>
</div>
